apiVersion: v1
kind: Service
metadata:
  name: hello-world-service5
spec:
  selector:
    app: hello-world
  ports:
  - protocol: "TCP"
    port: 8080
    targetPort: 80
    nodePort: 31006
  type: LoadBalancer
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: hello-world-deployment5
spec:
  replicas: 5
  selector:
    matchLabels:
      app: hello-world
  template:
    metadata:
      labels:
        app: hello-world
    spec:
      containers:
      - name: helloworld
        image: tutum/hello-world
        ports:
          - containerPort: 80
