apiVersion: apps/v1
kind: Deployment
metadata:
  name: eureka-discover
  namespace: default
spec:
  replicas: 1
  selector:
    matchLabels:
      bb: web
  template:
    metadata:
      labels:
        bb: web
    spec:
      containers:
        - name: eureka
          image: rasmushelsgaun/si-miniproject4-eureka
---
apiVersion: v1
kind: Service
metadata:
  name: eureka-entrypoint
  namespace: default
spec:
  type: NodePort
  selector:
    bb: web
  ports:
    - port: 8761
      targetPort: 8761
      nodePort: 30005